<!DO CTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>

    <div class="container">
      <div class="row mb-5">
        <div class="lg-col-12 text-center">
          <h1>PRUEBA TECNICA</h1>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <form class="d-flex" role="search" (ngSubmit)="buscarXCedula()" [formGroup]="buscador">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
              formControlName="cedula">
            <button *ngIf="flagBuscar" class="btn-transparent" (click)="limpiarBuscador()"><i class="bi-zoom-out"
                style="font-size: 2rem; color: cornflowerblue;"></i></button>
            <button class="btn-transparent" type="submit"><i class="bi-zoom-in"
                style="font-size: 2rem; color: cornflowerblue;"></i></button>
          </form>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearUsuarioId">Crear
            Usuario</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Email</th>
              <th scope="col">Pais</th>
              <th scope="col">Direccion</th>
              <th scope="col">Celular</th>
              <th scope="col">Categoria</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngIf="usuarios.length === 0">
            <tr>
              No hay registros
            </tr>
          </tbody>
          <tbody *ngIf="usuarios.length > 0">
            <tr *ngFor="let item of usuarios">
              <th scope="row">{{ item.cedula }}</th>
              <td>{{ item.nombres }}</td>
              <td>{{ item.apellidos }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.pais }}</td>
              <td>{{ item.direccion }}</td>
              <td>{{ item.celular }}</td>
              <td>{{ item.categoriaData.categoria }}</td>
              <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarUsuarioId"
                  (click)="cargarEdicion(item)">Editar Usuario</button>
                <button type="button" class="btn btn-primary" (click)="eliminarUsuario(item)">Eliminar Usuario</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="modal fade" id="crearUsuarioId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="" role="search" (ngSubmit)="crearUsuario()" [formGroup]="usuario">
            <div class="modal-body">
              <input class="form-control me-2" type="input" placeholder="Cedula" aria-label="Cedula"
                formControlName="cedula" [hidden]="flagEdicion">
              <input class="form-control me-2" type="input" placeholder="Nombres" aria-label="Nombres"
                formControlName="nombres">
              <input class="form-control me-2" type="input" placeholder="Apellidos" aria-label="Apellidos"
                formControlName="apellidos">
              <input class="form-control me-2" type="email" placeholder="Email" aria-label="Email"
                formControlName="email">
              <select class="form-select" placeholder="Pais" aria-label="Pais" formControlName="pais">
                <option *ngFor="let item of paises; index as i" value="{{ i }}">{{ item.name.common }}</option>
              </select>
              <input class="form-control me-2" type="input" placeholder="Direccion" aria-label="Direccion"
                formControlName="direccion">
              <input class="form-control me-2" type="number" placeholder="Celular" aria-label="Celular"
                formControlName="celular">
              <select class="form-select" placeholder="Categoria" aria-label="Categoria" formControlName="categoria">
                <option *ngFor="let item of categorias" value="{{ item.id }}">{{ item.categoria }}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>



    <div class="modal fade" id="editarUsuarioId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="" role="search" (ngSubmit)="editarUsuario()" [formGroup]="usuario">
            <div class="modal-body">
              <input class="form-control me-2" type="input" placeholder="Nombres" aria-label="Nombres"
                formControlName="nombres">
              <input class="form-control me-2" type="input" placeholder="Apellidos" aria-label="Apellidos"
                formControlName="apellidos">
              <input class="form-control me-2" type="email" placeholder="Email" aria-label="Email"
                formControlName="email">
              <select class="form-select" placeholder="Pais" aria-label="Pais" formControlName="pais">
                <option *ngFor="let item of paises; index as i" value="{{ i }}">{{ item.name.common }}</option>
              </select>
              <input class="form-control me-2" type="input" placeholder="Direccion" aria-label="Direccion"
                formControlName="direccion">
              <input class="form-control me-2" type="number" placeholder="Celular" aria-label="Celular"
                formControlName="celular">
              <select class="form-select" placeholder="Categoria" aria-label="Categoria" formControlName="categoria">
                <option *ngFor="let item of categorias" value="{{ item.id }}">{{ item.categoria }}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" type="submit">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>

  </html>
